 <div class="loginForm">
  <% form_tag session_path do -%>
   <%= text_field_tag 'login', @login, :class => 'transparentBkgd underedged entryText' %>
   <br/>
   <%= password_field_tag 'password', nil, :class => 'transparentBkgd underedged entryText' %>
   <br/>
   <%= label_tag 'remember_me', 'Remember me' %>
   <%= check_box_tag 'remember_me', '1', @remember_me %>
   <br/>
   <!-- <%= text_field_tag 'openid_url' %> -->
   <br/>
   <%= submit_tag 'log in' %>
  <% end -%>
 </div>

